.createQuiz {
  margin: 3% 30%;
}

.CreateQuizActionsButtons {
  margin-bottom: 5%;
}

.textFields {
  border: white;
  margin: auto;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #ffffff !important;
}

.MuiFormHelperText-root {
  color: #ffffff !important;
}

label.Mui-focused {
    color: rgb(78, 169, 255);
}

.actions {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
}

.parentWrapper {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actionButton {
  margin-bottom: 5%;
}

.questionsWrapper {
  display: flex;
}
