.modalDescription {
    padding: 3%;
    font-size: 60%;
}

.emailField {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.sendLinkButton {
    padding: 4%;
    border-radius: 5px;
    font-size: 45%;
    font-weight: bolder;
}

.sendLinkButton:enabled {
    background-color: #0097b9;
    border-color: #0097b9;
}

.sendLinkButton:hover:enabled {
    background-color: #017c97;
    border-color: #017c97;
}

.modalExample {
    font-size: 50%;
    padding-bottom: 3%;
    color: rgb(206, 206, 206);
}

.modalButtonContainer {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 8%;
}

.cancel {
    padding-right: 10%;
    padding-left: 10%;
}

.cancel:enabled {
    background-color: #ce6868;
    border-color: #ce6868;
}

.cancel:hover:enabled {
    background-color: #ba4040;
    border-color: #ba4040;
}

.forgetPassModal {
    width: 50%;
    padding: 3%;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    color: #ffffff;
    margin-top: 50px;
    background-image: linear-gradient(to bottom right, rgba(0, 208, 255, 0.7), rgb(255, 0, 191));
}

.emailError{
    font-family: Roboto;
    font-size: 1rem;
    color: red;
    padding: 0 3% 3%;
}

@media (max-width: 700px) {
    .modalButtonContainer {
        flex-direction: column;
    }

    .cancel {
        margin-top: 4%;
    }

    .modalExample{
        font-size: 35%;
    }
}