.headerRedirectButton {
    width: 10%;
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #557dbf;
    border-color: #557dbf;
    border-radius: 15px;
    font-size: 18px;
}

.headerRedirectButton:hover {
    background-color: #3268c0;
    border-color: #3268c0;
}

.languageChanger{
    width: 90px;
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: white;
    border-color: white;
    color: black;
    border-radius: 15px;
    font-size: 110%;
}

.languageChangerContent{
    display: flex;
    justify-content: center;
}

.languageChanger:hover, .languageChanger:focus, .languageOption:hover{
    background-color: rgb(228, 228, 228);
    border-color: rgb(228, 228, 228);
    color: black;
}

.hideOptions {
    display: none;
}

.languageOption, .languageOption:focus{
    background-color: white;
    border-color: white;
    color: black;
}

.showOptions{
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 8%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 73px;
    margin-right: 60px;
}

.currentLanguage{
    width: 100%;
}

.optionFlag{
    display: flex;
    justify-content: center;
    padding: 5%;
    padding-bottom: 3%;
}

.buttons {
    display: flex;
    justify-content: right;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 60px;
    color: #ffffff;
}

input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{
    margin: 0;
    -webkit-appearance: none;
}

.enterRoom {
    box-shadow: 50px;
    width: 350px;
    height: 85px;
    background: rgb(0, 0, 0);
    padding: 20px;
    margin: auto;
    border-radius: 15px;
}

.pinField {
    border-color: 2px  #0097b9;
}

.errorPinField{
    border-color: 2px solid #ed224b !important;
}

.pinField input::placeholder {
    text-align: center !important;
}

.enterButton {
    width: 100%;
    background-color: #0097b9;
    border-color: #0097b9;
    align-content: center;
    margin-top: 15px;
}

.enterButton:hover {
    background-color: #017c97;
    border-color: #017c97;
}

@media screen and (min-width: 1900px){
    .headerRedirectButton {
        width: 7%;
    }
}

@media screen and (max-width: 1200px){
    .headerRedirectButton {
        width: 12%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1024px){
    .showOptions{
        width: 18%;
    }
}

@media screen and (max-width: 480px) {
    .enterRoom{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        width: 90%;
    }

    .enterButton{
        width: 75%;
    }

    .pin{
        width: 75%;
    }

    .headerRedirectButton {
        width: 25%;
        font-size: 0.9rem;
    }

    .showOptions{
        margin-right: 0;
        width: 25%;
    }
}

@media screen and (max-width: 360px) {
    .showOptions{
        margin-right: 50px;
    }
    .buttons{
        margin-left: 10%;
    }
    .headerRedirectButton{
        margin: 0;
        margin-top: 10px;
    }
    .languageChanger{
        margin: 0;
        margin-top: 10px;
    }
    .showOptions{
        margin-top: 65px;
        margin-left: 50px;
    }
    .headerRedirectButton{
        font-size: 12px;
    }
}
