.waitTextBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#leaderboard{
    min-width: 200px;
    width: 50%;
    font-family: Roboto;
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    word-wrap: break-word;
}

#leaderboardTitle{
    display: flex;
    justify-content: center;
    font-size: 200%;
    border-bottom: 1px solid white;
}

#firstPlace{
    background-color: #f5df68; 
    color: rgb(0, 0, 0);
}

.leftoverScores .score {
    color: white;
}

#secondPlace{
    background-color: #e1e1e1;
    color: rgb(0, 0, 0);
}

#thirdPlace{
    background-color: #d4a96b;
    color: rgb(0, 0, 0);
}

#scores, .scoreList{
    padding-top: 0.3rem;
    max-width: 100%;
    height: 100%;
}

#scores {
    font-size: x-large;
    display: grid;
    width: 100%;
}
 

.leftoverScores, #firstPlace, #secondPlace, #thirdPlace{
    min-width: 30%;
    border-radius: 10px;
    padding-top: 1%;
    margin-bottom: 1%;
    word-wrap: break-word;
    display: grid; 
    grid-template-columns: 0.6fr 3fr 0.6fr;
}

.leaderboardPage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    word-wrap: break-word;
}

.rank {
    min-width: 100%;
    margin: 0 1vh;
}

.nickname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100%;
    margin: 0 1vh;
}

.playerTable {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    margin: 0 1vh;
}

.score{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 20%;
    border-radius: 10px;
    color: rgba(41, 60, 66, 1);
    margin: 0 1vh;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.quizPageContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.questionsAndTimer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
}
.questionTextEnterPage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 5px;
    height: 38%;
}
.timerComponentCenter{
    width: auto;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.hideTimer{
    display: none;
}

.exitButtonContainer {
    display: flex;
    justify-content: center;
    height: fit-content;
    max-height: 15vh;
    padding: 2vh;
}

.exitButton {
    width: 110px;
    height: 50px;
    background-color: #557dbf;
    border-color: #557dbf;
    border-radius: 15px;
    font-size: 18px;
    padding-bottom: 1px;
}

.leaderBoardGuest{
    margin-top: 1%;
}

.hideToast{
    display: none;
}


@media screen and (max-width: 530px) {
    .questionTextEnterPage{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 5px;
        height: 32%;
    }
}