.questionModal {
    height: 600px;
    width: 950px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    color: #ffffff;
    background-image: linear-gradient(to bottom right, rgba(0, 208, 255, 0.7), rgb(255, 0, 191));
}

.button{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 4%;
}

.button-danger{
    background-color: #ed224b;
    border-color: #ed224b;
    margin: auto;
    justify-content: center;
}

.button-danger:hover{
    background-color: rgb(150, 31, 31);
    border-color: rgb(150, 31, 31);
}

.button-danger-size{
    width: 40px;
    height: 20px;
}

.button-warning { 
    background-color: #ff9400;
    border-color: #ff9400;
}

.button-warning:hover{
    background-color: rgb(179, 146, 18);
    border-color: rgb(179, 146, 18);
}

.mb-5{
    margin-bottom: 5px;
}

.questionFields {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 1%;
}

.start-button{
    background-color: #9ace87;
    border-color: #9ace87;
}

.start-button:hover{
    background-color: #87b576;
    border-color: #87b576;
}

.start-button:disabled{
    background-color: rgb(243, 242, 241);
    color: rgb(210, 208, 206);
    border: none;
}

.rw-widget{
    margin-top: 5px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error {
    color: red;
    font-size:18px;
    position: absolute;
}


@media screen and (max-width:480px) {
    .questionModal {
        width: 90%;
        font-size: 40px;
    }
    .questionFields {
        width: 80%;
    }

}